.forgot-password-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .forgot-password-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .forgot-password-page form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .forgot-password-page input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-page button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-page button:hover {
    opacity: .8;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    margin-bottom: 10px;
  }